@model WebOS.Models.CauseCategory

@{
    ViewData["Title"] = "اضافة قسم للمشاريع";
}
<partial name="_ViewHeader" />


<div class="row px-5">
    <h4>اضافة قسم للمشاريع</h4>
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnTitle" class="control-label"></label>
                <input style="direction:ltr" asp-for="EnTitle" class="form-control" />
                <span asp-validation-for="EnTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnDescription" class="control-label"></label>
                <textarea style="direction:ltr" asp-for="EnDescription" class="form-control"></textarea>
                <span asp-validation-for="EnDescription" class="text-danger"></span>
            </div>
                <div class="mb-3" id="img">
                    <label asp-for="Image" class="control-label"></label>*<br />
                    <img width="400" height="300" id="img1" class="img-rounded center-block" src="" />
                    <input required type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn btn-info col-lg-12 input-sm" />
                    <input placeholder="هذا الحقل ضروري" readonly asp-for="Image" id="fileinput" class="form-control input-sm" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
        <script>
        $(document).ready(function() {
            $('#img1').hide();
            $("#file").change(function() {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
                if (this.files && this.files[0]) {
                    $('#img1').fadeIn();
                    var reader = new FileReader();
                    reader.onload = function(e) { $('#img1').attr('src', e.target.result); }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
