@model WebOS.Models.HomeCard

@{
    ViewData["Title"] = "إضافة بطاقة";
}

@*<h1>Create</h1>*@

<h4>إضافة بطاقة</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="7" asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3" id="img">
                <label asp-for="Image" class="control-label"></label>*حاول ان تكون الصورة بحجم (500 * 500<br />
                <img width="400" height="300" id="img1" class="img-rounded center-block" src="" />
                <input required type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif,jfif" class="btn btn-info col-lg-12 input-sm" />
                <input placeholder="هذا الحقل ضروري" readonly asp-for="Image" id="fileinput" class="form-control input-sm" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="indx" class="control-label"></label>
                <input asp-for="indx" class="form-control" />
                <span asp-validation-for="indx" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UrlText" class="control-label"></label>
                <input asp-for="UrlText" class="form-control" />
                <span asp-validation-for="UrlText" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="mb-3">
                <input type="submit" value="إضافة" class="btn btn-success rounded-0" />
                <a class="btn btn-primary rounded-0" asp-action="Index">رجوع</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#img1').hide();
            $("#file").change(function () {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
                if (this.files && this.files[0]) {
                    $('#img1').fadeIn();
                    var reader = new FileReader();
                    reader.onload = function (e) { $('#img1').attr('src', e.target.result); }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
