@model WebOS.Models.Page

@{
    ViewData["Title"] = "إضافة صفحة";
}

<partial name="_ViewHeader" />

<div class="container">

    <h4>إضافة صفحة</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="EnTitle" class="control-label"></label>
                    <input style="direction:ltr" asp-for="EnTitle" class="form-control" />
                    <span asp-validation-for="EnTitle" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Body" class="control-label"></label>
                    @Html.TextAreaFor(model => model.Body, new { rows = 10, cols = 100, @class = "form-control"})
               
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="EnBody" class="control-label"></label>
                    @Html.TextAreaFor(model => model.EnBody, new { rows = 10, cols = 50, @class = "form-control" })
                    <span asp-validation-for="EnBody" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PageName" class="control-label"></label>
                    <input asp-for="PageName" class="form-control" />
                    <span asp-validation-for="PageName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" value="إضافة" class="btn btn-success rounded-0" />
                    <a class="btn btn-primary rounded-0" asp-action="Index">رجوع</a>
                </div>
            </form>
        </div>

    </div>

    <div>
    </div>
</div>
@section scripts{


    <script>
        tinymce.init({
            selector: 'textarea',



            directionality: 'rtl',
            //language: 'ar_SA',
            plugins: "link,image,media,table,textcolor colorpicker",

            //menubar: "insert",
            toolbar: "link,image,media,table,forecolor backcolor",
            color_picker_callback: function(callback, value) {
                callback('#FF00FF');
            },
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,

            mode: "textareas",



        });
    </script>

}
